header{
    display: block;
    justify-content: center;
    width: 90vw;
    font-size: 40px;
    margin: 20px;
  }
  
  .logo_name{
    float: left;
    margin-block: 0px;
    padding: 20px;
  }
  
  .logo_menubox{
    display: flex;
    float: right;
    padding: 20px 0px;
  }
  
  .logo_menubox_item{
    float: right;
    padding: 10px;
    width: 40px;
    height: 40px;
    content: url(../img/4.jpg);
    background-size:cover;
    background-origin: padding-box;
    background-repeat: no-repeat;
  }