.select_nation{
    float: left;
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-scrollbar: none;
    -ms-overflow-style: none;
}

.select_nation::-webkit-scrollbar {
  display: none;
}

.select_nation_element{
    float: left;
    width: 100%;
    height: 100px;
    background-color:aqua;
    box-shadow: 0 0 0 3px #000 inset; 
    padding: 5px;
    border-radius: 20px;
}

.select_city{
    float: left;
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.select_city::-webkit-scrollbar {
  display: none;
}

.select_city_element{
    float: left;
    width: 100%;
    height: 100px;
    background-color:aqua;
    border: 5px;
    padding: 5px;
}